@charset "utf-8";

body,
td,
th,
p {
  color: rgb(51, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  position: relative;
  margin: 0;
  background-color: rgb(253, 253, 253);
}

ul,
li {
  color: rgb(51, 51, 51);
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(255, 112, 37);
  text-decoration: none;
}
a:hover,
a:focus {
  color: rgb(255, 88, 0);
  text-decoration: none;
}

a img {
  border: none 0px rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  min-height: 100%;
  background-color: rgb(243, 243, 243);
}

#footer {
  padding: 25px;
  background-color: rgb(173, 180, 188);
  color: black;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/*******************************
========== Navigation ==========
********************************/

nav {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(173, 180, 188);
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: black;
  font-size: calc(0.45em + 2vmin);
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  margin: 0;
  background-color: rgb(238, 238, 238);
  font-size: 20px;
  list-style: none;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  font-size: 0.7em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  color: black;
  padding: 8px;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: rgb(255, 112, 37);
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: rgb(255, 88, 0);
  text-decoration: underline;
}

/*******************************
============= Map ==============
********************************/

#map {
  height: 55vh;
  width: 100%;
  background-color: rgb(204, 204, 204);
}

/*******************************
===== Restaurant Filtering =====
********************************/

.filter-options {
  width: 100%;
  height: auto;
  padding: 10px 0 3px;
  background-color: rgb(247, 217, 109);
  text-align: center;
  align-items: center;
}

.filter-options h2 {
  margin: 0 20px;
  color: black;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
}

.filter-options select {
  margin: 10px;
  padding: 0 10px;
  width: 200px;
  height: 35px;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  letter-spacing: 0;
}

/*******************************
====== Restaurant Listing ======
********************************/

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px 15px 60px;
  background-color: rgb(243, 243, 243);
  align-items: center;
  text-align: center;
  justify-content: center;
  list-style: outside none none;
}

#restaurants-list li {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 0 0 15px;
  max-width: 85%;
  min-height: 380px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(204, 204, 204);
  font-family: Arial, sans-serif;
  text-align: left;
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
  background-color: rgb(204, 204, 204);
}

#restaurants-list li h1 {
  padding: 0 20px;
  height: 25px;
  margin: 20px 0 10px;
  color: rgb(255, 112, 37);
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  padding: 0 20px;
  width: 55%;
  font-size: 1.1em;
}

#restaurants-list li a {
  display: inline-block;
  margin: 15px 0 0;
  padding: 10px 42px 10px;
  color: black;
  background-color: rgb(255, 235, 161);
  border-bottom: 3px solid rgb(238, 238, 238);
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*******************************
======= Restaurant Info ========
********************************/

.restaurant-info {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
}

.restaurant-info header {
  width: 100%;
}

.restaurant-info #map-container {
  position: relative;
  width: 100%;
  height: 270px;
}

.restaurant-info #map {
  height: 100%;
  width: 100%;
  background-color: rgb(204, 204, 204);
}

#resraurant-container {
  position: relative;
  width: 100%;
}

#restaurant-name {
  margin: 15px 0 30px;
  color: rgb(255, 112, 37);
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  text-transform: uppercase;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  margin: 10px 0px;
  font-size: 1.2em;
}

#restaurant-cuisine {
  margin: 0 0 20px;
  padding: 2px 0;
  background-color: rgb(173, 180, 188);
  color: black;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid rgb(217, 217, 217);
  border-top: 1px solid rgb(255, 255, 255);
  padding: 40px 30px;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  padding-bottom: 1px;
  color: rgb(255, 156, 104);
  font-size: 2.4em;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 0 30px;
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(243, 243, 243);
  list-style-type: none;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li p:nth-child(1) {
  display: inline-block;
  width: 50%;
  font-size: 1.2em;
  line-height: 1;
}

#reviews-list li p:nth-child(2) {
  display: inline-block;
  width: 50%;
  line-height: 1;
  font-size: 0.9em;
  text-align: right;
}

#reviews-list li p:nth-child(3) {
  color: rgb(255, 156, 104);
  text-align: right;
}

#restaurant-hours td {
  color: rgb(102, 102, 102);
}

.restaurant-info #footer {
  width: 100%;
}

/*******************************
======== Media Queries =========
********************************/

@media (min-width: 930px) {
  #restaurants-list li {
    max-width: 30%;
  }

  #restaurants-list p {
    width: 66%;
  }

  #restaurants-list li h1 {
    height: 45px;
  }

  .restaurant-info header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .restaurant-info #map-container {
    position: fixed;
    height: 88%;
    width: 50%;
    right: 0;
    top: 80px;
    background: rgb(255, 235, 161) none repeat scroll 0 0;
  }

  #breadcrumb {
    width: calc(50% - 80px);
  }

  #restaurant-img {
    width: 90%;
  }

  #restaurant-container {
    padding: 140px 40px 30px;
    width: 45%;
  }

  #reviews-container {
    padding: 40px 30px;
    width: 45%;
  }

  #restaurant-cuisine {
    width: 90%;
  }

  #reviews-list li {
    width: 85%;
  }

  .restaurant-info #footer {
    position: absolute;
    width: 45%;
    bottom: 0;
  }
}

@media (min-width: 640px) and (max-width: 929px) {
  #restaurants-list li {
    max-width: 40%;
  }

  #restaurants-list li h1 {
    height: 35px;
  }
}

@media (min-width: 639px) {
  .filter-options {
    text-align: left;
  }
}
